services:
  - type: web
    name: sweet-byte-backend
    env: node
    plan: free
    buildCommand: cd backend && npm install && npm run build
    startCommand: cd backend && npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: NPM_CONFIG_PRODUCTION
        value: "false"
      - key: MONGODB_URI
        sync: false
      - key: JWT_SECRET
        sync: false

